<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>welcomeController</servlet-name>
        <servlet-class>Controller.welcomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userController</servlet-name>
        <servlet-class>Controller.userController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productDetailController</servlet-name>
        <servlet-class>Controller.productDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productsController</servlet-name>
        <servlet-class>Controller.productsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productSearchByName</servlet-name>
        <servlet-class>Controller.productSearchByName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>Controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>waitingController</servlet-name>
        <servlet-class>Controller.waitingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>Controller.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomeController</servlet-name>
        <servlet-class>AdminController.AdminHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerController</servlet-name>
        <servlet-class>Controller.registerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderController</servlet-name>
        <servlet-class>Controller.orderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartController</servlet-name>
        <servlet-class>Controller.cartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartAddController</servlet-name>
        <servlet-class>Controller.cartAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartRemoveController</servlet-name>
        <servlet-class>Controller.cartRemoveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryController</servlet-name>
        <servlet-class>AdminController.InventoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticController</servlet-name>
        <servlet-class>AdminController.StatisticController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerStaffController</servlet-name>
        <servlet-class>AdminController.ManagerStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerStaffController</servlet-name>
        <servlet-class>AdminController.registerStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myOrderController</servlet-name>
        <servlet-class>Controller.myOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editUserInfoController</servlet-name>
        <servlet-class>Controller.editUserInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedbackController</servlet-name>
        <servlet-class>Controller.feedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>json.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentController</servlet-name>
        <servlet-class>Controller.paymentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>welcomeController</servlet-name>
        <url-pattern>/Menu/FinalProject/views/user/welcomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userController</servlet-name>
        <url-pattern>/Menu/FinalProject/views/admin/userController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productDetailController</servlet-name>
        <url-pattern>/Menu/FinalProject/views/user/productDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productsController</servlet-name>
        <url-pattern>/Menu/FinalProject/views/user/productsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productSearchByName</servlet-name>
        <url-pattern>/Menu/FinalProject/views/user/productSearchByName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/Menu/FinalProject/views/user/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>waitingController</servlet-name>
        <url-pattern>/waitingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomeController</servlet-name>
        <url-pattern>/AdminHomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerController</servlet-name>
        <url-pattern>/Menu/FinalProject/views/user/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderController</servlet-name>
        <url-pattern>/Menu/FinalProject/views/user/orderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartController</servlet-name>
        <url-pattern>/Menu/FinalProject/views/user/cartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartAddController</servlet-name>
        <url-pattern>/Menu/FinalProject/views/user/cartAddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartRemoveController</servlet-name>
        <url-pattern>/Menu/FinalProject/views/user/cartRemoveController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryController</servlet-name>
        <url-pattern>/Menu/FinalProject/views/admin/InventoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticController</servlet-name>
        <url-pattern>/StatisticController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerStaffController</servlet-name>
        <url-pattern>/ManagerStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerStaffController</servlet-name>
        <url-pattern>/Menu/FinalProject/views/admin/registerStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myOrderController</servlet-name>
        <url-pattern>/myOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editUserInfoController</servlet-name>
        <url-pattern>/Menu/FinalProject/views/user/editUserInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedbackController</servlet-name>
        <url-pattern>/feedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/ajaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentController</servlet-name>
        <url-pattern>/paymentController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
